body {
    background-color:black;
    color:white;
    text-align:center;
    font-family: Verdana;
}
h1 {
    font-family: Verdana;
    color: white;
    font-size:50px;
    text-align: center;
    font-weight: normal;

}

p {
    font-size: 21px;
}
.description {
    font-size: 21px;
    font-family:Verdana;
    color:gray
}

a {
    color: aquamarine;
    font-size: 16px;
    font-weight: normal;

}

footer {
    color:gray;
    text-align: right;
}

